@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap");

@layer components {
  .btn-primary {
    @apply bg-black text-primary border-2 border-black text-sm md:text-[1rem]
        px-2 py-1 rounded-[2rem] duration-300;
  }
  .btn-secondary {
    @apply bg-primary text-black/70 border-2 border-black/20  text-sm
        px-2 py-1 rounded-[2rem] 
        hover:bg-secondary hover:border-2 hover:text-black duration-300;
  }
  .btn-tertiary {
    @apply bg-secondary text-black border-black  text-sm
        p-2 rounded-[50%] 
        hover:bg-gray-300 hover:text-black duration-300;
  }
  .home-search-input {
    @apply outline-none text-black/70 px-2 h-full rounded-[0.8rem] text-sm
        w-full
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .my-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .my-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
     /* Firefox */
     scrollbar-color:#D9D9D9  #E5E6E1;
  }

}
